
  body {
    display: flex;
    align-items: center;
    background: #2980b9;
    height: 100%;
  }

  .container {
    display: flex;
  }

  .right {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(-50%, -50%);
    max-width: 420px;
    width: 50%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  }
  .right h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
  }
  .right form {
    padding: 0 40px;
    box-sizing: border-box;
  }
  .texts {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .texts input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .texts label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover {
    text-decoration: underline;
  }

  input {
    width: 100%;
    height: 50px;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    border: none;
  }
  
  input:hover {
    border-color: #2691d9;
  }
  .signup {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup a {
    color: #2691d9;
    text-decoration: none;
  }
  .signup a:hover {
    text-decoration: underline;
  }
  
  .left {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2980b9;
    color: #fff;

    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    max-width: 200px;
    width: 50%;
    
  }
  
  .left h1 {
    text-align: center;
  }
  